@font-face {
  font-family: "Rowdies";
  src: url('../fonts/Rowdies-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap; //This allows to show the fallback(alternative) font before loading the custom one
}

@font-face {
  font-family: "Rowdies";
  src: url('../fonts/Rowdies-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}